/* Fonts */

@import './styles/fonts.css';

/* Components */

@import './styles/box-sizing.css';
@import './styles/visually-hidden.css';
@import './styles/logo.css';
@import './styles/button.css';
@import './styles/social.css';

@import './styles/page.css';
@import './styles/header.css';
@import './styles/navigation.css';

@import './styles/features.css';
@import './styles/extension.css';
@import './styles/faq.css';
@import './styles/newsletter.css';
@import './styles/footer.css';

/* Variables */

:root {
  --primary-blue: 231, 69%, 60%;
  --primary-red: 0, 94%, 66%;
  --neutral-gray: 229, 8%, 60%;
  --neutral-blue: 229, 31%, 21%;
  --white: 0, 0%, 100%;
}
