.button {
  display: block;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

.button--header {
  --text-color: white;
  --bg-color: transparent;
  --border-color: white;

  font-size: 20px;
  line-height: 1;
  letter-spacing: 2.31px;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  outline: none;
}

.button--header:hover,
.button--header:focus {
  --text-color: hsl(var(--primary-red));
  --border-color: hsl(var(--primary-red));
}

@media (min-width: 768px) {

  .button {
    padding-top: 12px;
    padding-bottom: 11px;
  }

  .button--header {
    --text-color: white;
    --bg-color: hsl(var(--primary-red));
    --border-color: hsl(var(--primary-red));

    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
  }

  .button--header:hover,
  .button--header:focus {
    --text-color: hsl(var(--primary-red));
    --bg-color: white;
  }
}
