.button {
  --height: 44px;
  --primary-color: hsl(var(--primary-blue));
  --secondary-color: white;

  display: block;
  min-height: var(--height);
  padding: 0 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--height);
  letter-spacing: .25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--main-color);
  background-color: var(--secondary-color);
  outline: none;
}

.button--danger {
  --main-color: hsl(var(--primary-red));
}

.button--login {
  font-size: 20px;
  letter-spacing: 2.31px;
  text-transform: uppercase;
}

@media (max-width: 767px) {

  .button--login {
    --main-color: transparent;
    --secondary-color: white;

    border-color: var(--secondary-color);
  }

  .button--login:hover,
  .button--login:focus {
    --main-color: hsl(var(--primary-red));
    --secondary-color: transparent;

    border-color: var(--main-color);
  }
}

@media (min-width: 768px) {

  .button--login {
    --height: 36px;

    padding: 0 32px;
    font-size: 13px;
    letter-spacing: 1.5px;
  }
}
