.page {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: hsla(var(--neutral-blue), .5);
  background-color: white;
}

.page__header {
  margin-block-end: 50px;
}

@media (max-width: 767px) {

  .page__header.header--open {
    margin-block-end: 0;
  }
}

@media (min-width: 768px) {

  .page__header {
    margin-block-end: 60px;
  }
}
